@using Resume.MVC.Models
@model TblService
@{
    ViewBag.Title = "Servislerimi Duzenleme Sayfasi";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<br />
<form method="post">
    @Html.Label("ServiceId")
    @Html.TextBoxFor(x => x.ServiceId, new { @class = "form-control", @readonly = "readonly" })
    <br />
    @Html.Label("Icon Url")
    @Html.TextBoxFor(x => x.Icon, new { @class = "form-control" })
    <br />
    @Html.Label("Başlık")
    @Html.TextBoxFor(x => x.Title, new { @class = "form-control" })
    <br />
    @Html.Label("Açıklama")
    @Html.TextBoxFor(x => x.Description, new { @class = "form-control" })
    <br />
    @Html.LabelFor(model => model.Status)
    @Html.DropDownListFor(model => model.Status, new SelectList(new List<SelectListItem>
    {
        new SelectListItem { Text = "Aktif", Value = "True" },
        new SelectListItem { Text = "Pasif", Value = "False" }
    }, "Value", "Text"), new { @class = "form-control" })
    <br />
    <button class="btn btn-primary">Kaydet</button>
</form>
<br />
<a class="btn btn-dark" href="/Service/Index">Geri Don</a>

