@using Resume.MVC.Models
@model TblTestimonial
@{
    ViewBag.Title = "Referans Duzenleme Sayfasi";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<br />
<form method="post">
    @Html.Label("TestimonialId")
    @Html.TextBoxFor(x => x.TestimonialId, new { @class = "form-control", @readonly = "readonly" })
    <br />
    @Html.Label("Resim Url")
    @Html.TextBoxFor(x => x.ImageUrl, new { @class = "form-control" })
    <br />
    @Html.Label("Referans Ismi")
    @Html.TextBoxFor(x => x.CustomerName, new { @class = "form-control" })
    <br />
    @Html.Label("Unvan")
    @Html.TextBoxFor(x => x.Title, new { @class = "form-control" })
    <br />
    @Html.Label("Yorum")
    @Html.TextBoxFor(x => x.Comment, new { @class = "form-control", @readonly = "readonly" })
    <br />
    @Html.LabelFor(model => model.Status)
    @Html.DropDownListFor(model => model.Status, new SelectList(new List<SelectListItem>
    {
        new SelectListItem { Text = "Aktif", Value = "True" },
        new SelectListItem { Text = "Pasif", Value = "False" }
    }, "Value", "Text"), new { @class = "form-control" })
    <br />
    <button class="btn btn-primary">Kaydet</button>
</form>
<br />
<a class="btn btn-dark" href="/Testimonial/Index">Geri Don</a>
