@using Resume.MVC.Models
@model List<TblProject>
<div class="portfolio" id="portfolio">
    <div class="container">
        <div class="section-header text-center wow zoomIn" data-wow-delay="0.1s">
            <p>My Portfolio</p>
            <h2>My Excellent Portfolio</h2>
        </div>
        
        @Html.Action("Category")

        <div class="row portfolio-container">
            <div class="col-lg-4 col-md-6 col-sm-12 portfolio-item filter-1 wow fadeInUp" data-wow-delay="0.0s">
                @foreach (var item in Model)
                {
                    <div class="portfolio-wrap">
                        <div class="portfolio-img">
                            <a href="@item.ProjectUrl" target="_blank">
                                <img src="@item.ImageUrl" alt="Image">
                            </a>
                        </div>
                        <div class="portfolio-text">

                            <h3>@item.ProjectName</h3>

                            <a class="btn" href="@item.ProjectUrl" target="_blank">
                                <i class="fab fa-github"></i>
                            </a>
                        </div>
                    </div>
                }
            </div>
        </div>

    </div>
</div>